<form class="" action="/landmarks" method="post">
 <h4>Landmark Name:</h4><input type="text" id="landmark_name" name="landmark[name]">
 <br>
 <h4>Landmark Year Completed:</h4><input type="text" id="landmark_year_completed" name="landmark[year_completed]">
 <br>
 <input type="submit" value="Create New Landmark">
</form>