<h4>Showing Figure</h4>
<p>Figure Name: <%=@figure.name%></p>
<h4>Titles</h4>
<% @figure.title_ids.each do |id| %>
<p><%= Title.find(id).name %></p>
<% end %>
<h4>Landmarks</h4>
<% @figure.landmark_ids.each do |id| %>
<p><%= Landmark.find(id).name %></p>
<% end %>